#hero{
    background: url('./musician-349790_1920.jpg') bottom center no-repeat;
    background-size: cover;
    margin-top:3rem;
} 

.section-content{
    padding:4rem;
}
.section-text{
    background:rgb(255, 255, 255,0.2);
    color:rgb(246, 245, 248);
 
    padding:2rem;
}

.footer{
    background-color: rgb(4, 4, 85);
    color:white;
    padding:2rem;
}